spring:
  profiles:
    include: jwt, oauth2
  datasource:
    url: jdbc:h2:tcp://localhost/~/pushop
    username: pu
    password:
    driver-class-name: org.h2.Driver
  redis:
    host: localhost
    port: 995
  mail:
    username: puemailsender@gmail.com
    password: ${GOOGLE_PASSWORD}
    host: smtp.gmail.com
    port: 587
    auth-code-expiration-millis: 1800000  # 30분
  #  main:
  #    allow-bean-definition-overriding: true


  #  create	기존테이블을 삭제하고 다시 생성
  #  create-drop 기존테이블을 삭제하고 다시생성. 종료 시점에 테이블삭제
  #  update	변경된 스키마 적용 (운영 DB 에서 사용X)
  #  validate Entity 와 테이블이 정상 매핑 되었는지 확인
  #  none 기존테이블을 더 이상 건드리지 않음.
  jpa:
    hibernate:
      ddl-auto: create
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
    properties:
      hibernate:
        #        show_sql: true
        format_sql: true
        default_batch_fetch_size: 1000 #최적화 옵션
#    open-in-view: false

# iamport
imp:
  api:
    key: ${IMP_API_KEY}
    secretkey: ${IMP_SECRET_KEY}

logging.level.org.hibernate:
  SQL: debug
#  org.hibernate.type: trace
#  jdbc:h2:~/pushop

